#login {
  .username {
    text-transform: capitalize;
  }

  .login,
  .logout {
    a {
      border-bottom: 0;
      font-size: 1.5em;

      &:active,
      &:focus,
      &:hover {
        color: $red;
      }
    }
  }
}

//login-form
#login_form {
  .switch {
    .switch-paddle {
      border-radius: 15px;
      &::after {
        border-radius: 15px;
      }
    }
  }

  .switch.ru {
    .switch-active {
      left: 15%;
    }

    .switch-inactive {
      right: 9%;
    }
  }

  .remember-me {
    margin: rem-calc(5 0 0);
    color: $dark-gray;
    font-size: 0.9em;
  }
}
